*{ list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
nav{
    background-color: rgb(12, 12, 12);
}
.navbar ul{
    padding-top: 80px;
    margin-left: 30px;
}
div ul li{
    display: inline;
    margin-inline: 25px;
}
div ul li a{
    color: white;
    font-size: large;
    position: relative;
    left: 900px;
    background-color: black;
}
div ul li a:hover{
    color: purple;
}
.button{
    background-color: yellow;
    padding: 10px;
    border-top-right-radius: 1.3rem;
    color: black;
    
}
.modern{
    display: flex;
    color: white;
    justify-content: space-around;
    background-color: black;
    padding-top: 60px;
}
#id{
    background-color: black;
}
.property{
    position: relative;
    left: 100px;
    top: 50px;
}

.column{
    padding-left: 80px;
    padding-top: 50px;
    position: relative;
    height: 70%;
    width: 50%;


}
.mini{
    padding-top: 10px;
}
.mini img{
    padding-right: 36px;
}

.hayley{
    border-style: solid;
    height: 500px;
    width: 400px;
    background-color: rgb(244, 248, 248);
    border-radius: 1rem;
    float:right;
    

}
input[type=text], select {
    width: 60%;
    padding: 25px 30px;
    margin: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-sizing: border-box;
    font-size: medium;
    font-weight: 400;
  }
   
   .buttn{
   padding: 40px 100px;
   
   margin: 10px;
   border-top-right-radius: 1.2em;
   font-size: medium;
   background-color: black;
  
    }
  
.forms {
    border-radius: 2rem;
    background-color: #f2f2f2;
    padding-left:80px;
    width:20%;
    height: 70%;
    margin-top: 50px;
  }
.master{
display: flex;
}