*{ list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
nav{
    background-color: rgb(12, 12, 12);
}
.navbar ul{
    padding-top: 80px;
    margin-left: 30px;
}
div ul li{
    display: inline;
    margin-inline: 25px;
}
div ul li a{
    color: white;
    font-size: large;
    position: relative;
    left: 900px;
    background-color: black;
}
div ul li a:hover{
    color: purple;
}
.button{
    background-color: yellow;
    padding: 10px;
    border-top-right-radius: 1.3rem;
    color: black;
    
}
.modern{
    display: flex;
    color: white;
    justify-content: space-around;
    background-color: black;
    padding-top: 60px;
}
#id{
    background-color: black;
}
.property{
    position: relative;
    left: 100px;
    top: 50px;
}


.column{
    padding-left: 80px;
    padding-top: 50px;
    position: relative;
    height: 70%;
    width: 50%;


}
.mini{
    padding-top: 10px;
}
.mini img{
    padding-right: 36px;
}

.hayley{
    border-style: solid;
    height: 500px;
    width: 400px;
    background-color: rgb(244, 248, 248);
    border-radius: 1rem;
    float:right;
    

}
input[type=text], select {
    width: 60%;
    padding: 25px 30px;
    margin: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-sizing: border-box;
    font-size: medium;
    font-weight: 400;
  }
   
   .buttn{
   padding: 40px 100px;
   
   margin: 10px;
   border-top-right-radius: 1.2em;
   font-size: medium;
   background-color: black;
  
    }
  
.forms {
    border-radius: 2rem;
    background-color: #f2f2f2;
    padding-left:80px;
    width:20%;
    height: 70%;
    margin-top: 50px;
  }
.master{
display: flex;
}

.desc{
    position: relative;
    top: 100px;
    left: 100px;
}
.column{
    padding-left: 80px;
    padding-top: 50px;


}

 



section.description {
    display: flex;
    background: rgba(204, 204, 204, 0.21);
    padding-top: 50px;
}

.generalbox2 {
    background: #fff;
    margin-left: 60px;
    padding: 30px 20px 0px 0px;
    border-radius: 20px;
    box-shadow: rgb(204 204 204 / 80%) 4px 4px 8px 4px;
}

h3 {
    padding-left: 30px;
}

.icons2 {
    display: flex;
    gap: 81px;
}

section.explanation {
    display: flex;
    height: 500px;
    align-items: center;
    background: rgba(204, 204, 204, 0.21);
}

.theory {
    margin-left: 60px;
    background: #fff;
    padding: 30px 30px 20px 30px;
    border-radius: 20px;
    box-shadow: rgb(204 204 204 / 80%) 4px 4px 8px 4px;
}

.theory h2 {
    font-weight: lighter;
}

.filler {
    padding-top: 70px;
}

.fheader {
    position: absolute;
    padding-top: 100px;
    margin-left: 80px;
}

section.features {
    display: flex;
    align-items: center;
    height: 400px;
    background: rgba(204, 204, 204, 0.21);
}

.specs {
    background: #fff;
    padding: 105px 151px 20px px;
    border-radius: 20px;
    margin-left: 60px;
    box-shadow: rgb(204 204 204 / 80%) 4px 4px 8px 4px;
}

.condition {
    display: flex;
    line-height: 1.8;
    gap: 120px;
}

.condition  {
    padding-right: 10px;
    color: #FFAC12;
}
.topmovers {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    background: rgba(204, 204, 204, 0.21);
    padding-left: 10%;
}

hr.line2 {
    width: 9%;
    height: 5px;
    background-image: linear-gradient(to right, orange,yellowgreen, green);
}

.topmovers h2 {
    font-weight: lighter;
    font-size: 40px;
    padding-top: 20px;
}

.box2 img {
    width: 25px;
}

.box3 img {
    width: 25px;
}

.truck img {
    width: 340px;
}


.icons {
    display: flex;
    gap: 5px;
}

section.services {
    display: flex;
    justify-content: center;
    background: #cccccc36;
    height: 600px;
    gap: 120px;

}



.box1 {
    padding: 20px 20px 20px 42px;
}
.box2 {
    padding: 20px 20px 20px 50px;
}
.box3 {
    padding: 20px 20px 20px 50px;
}

.A-plusmovers {
    background: #fff;
    height: 415px;
    border-bottom-left-radius: 43px;
    border-bottom-right-radius: 43px;
    box-shadow: 1px 3px 4px 0px #cccc;
}

.generalbox2 h3 {
    padding-left: 20px;
    font-size: 20px;
    font-weight: lighter;
}


section.footer {
    display: flex;
    height: 200px;
    align-items: center;
    background: #000;
    color: #fff;
    padding-left: 10%;
}

section.footerlinks {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    height: 206px;
    align-items: center;
}

.footer h2 {
    font-size: 48px;
    font-family: 'Poppins';
    font-weight: lighter
}

span {
    font-family: 'Poppins';
    color: #FFAC12;
}

.socialmedia {
    display: flex;
    gap: 50px;
}

.links {
    display: flex;
    gap: 150px;
    line-height: 1.6;
}

.links p {
    color: #ccc;
}

p.p1 {
    color: #fff;
}

.btnsubmit {
    padding-left: 20%;
}

.fa-arrow-right:before {
    padding-left: 10px;
}