




body{

    margin: 0;
    padding:0;

}

.moving{
    background-image: url(../images/moving\ 1.png);
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container{
    position: absolute;
    margin: 30;
    width:auto;

}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    padding-left: 10px;
    margin-right: 10px;

}