@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Nunito:ital,wght@0,300;1,200&family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.body {
    font-family: 'Adamina', serif;

}

.header {
    display: flex;
}

li a {
    font-weight: 500;
    font-size: 14px;
    color: #edf0f1;
    text-decoration: none;
}

.navlinks {

    display: flex;
    padding: 5px 180px;
}

.navlinks li {

    padding: 35px 40px;
    text-align: right
}

.navlinks li a {
    transition: all 0.3s ease-out 0s;
    position: relative;

    right: -900px;

}

.navlinks li a:hover {
    color: blueviolet;


}

.but1:hover {
    color: red;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;
}

button {
    background-color: #FFAC12;
    padding: 9px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;
}

button:hover {
    color: palevioletred;
}

body {

    width: 100%;
    height: auto;


}


nav {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    padding-left: 10px;
    margin-right: 10px;

}

.moving {
    background-image: url(../images/moving\ 1.png);
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    margin: 30;
    width: auto;

}

.bigtop {
    font-size: xxx-large;
    font-weight: 100;
    color: #FAFF00;
    padding-left: 20px;
}

.smalltop {
    padding-top: 30px;
    padding-left: 20px;
    font-size: x-large;
    font-weight: 100;
    color: whitesmoke;
}

.container2 {
    display: flex;
}

.movin {

    padding-top: 50px;
    padding-bottom: 50px;

}

.movin img {
    width: 70%;
}

.wordings hr {
    border: none;
    width: 105px;
    background-image: linear-gradient(to right, yellow, black);
    height: 3px;
    margin-bottom: 30px;
}

.wordings {
    padding-top: 200px;
    padding-left: 70px;
    line-height: 2;



}

.wordings h1 {
    padding-bottom: 29px;
    font-size: xx-large;
    list-style: none;
    line-height: 2px;


}

.wordings p {
    font-weight: 100px;
    padding-bottom: 15px;
    font-size: medium;
}

.wordings button {
    border-top-right-radius: 1.2rem;
    background-color: black;
}

.bcg {
    background-color: rgb(243, 245, 245);
}

.hdr h2{
    padding-top: 80px;
}

.hdr {
    padding-left: 200px;
    padding-bottom: 100px;
    font-size: x-large;
    font-weight: 300;


}



.shower::before {
    font-family: "font awesome 5 free";
    font-weight: 900;
    content: "\f2cc";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.truck::before {
    font-family: "font awesome 5 free";
    font-weight: 900;
    content: "\f0d1";

    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.hash::before {
    font-family: "font awesome 5 free";
    font-weight: 900;
    content: "\23";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.icons {
    display: flex;
    justify-content: space-around;

}

.pics {
    display: flex;
    justify-content: space-around;
}

.ehem {
    padding-bottom: 45px;
    background: rgb(247, 244, 244);
    border-radius: 1rem;

}

.A {
    font-size: x-large;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.truck {
    padding-left: 30px;
}

.shower {
    padding-left: 20px;
}

.hash {
    padding-left: 20px;
}

.wewe {
    padding-bottom: 45px;
    background: rgb(247, 244, 244);
    border-radius: 1rem;

}


.move {
    padding-bottom: 45px;
    background: rgb(247, 244, 244);
    border-radius: 1rem;

}

.M {
    font-size: large;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;


}

.U {
    font-size: x-large;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.chap {
    padding-bottom: 45px;
    background: rgb(247, 244, 244);
    border-radius: 1rem;
    padding-top: 10px;
    margin-right: 10px;



}

.mc {
    font-size: large;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;

}

.mashinani {
    padding-bottom: 45px;
    background: rgb(247, 244, 244);
    border-radius: 1rem;
    padding-top: 10px;
    margin-right: 2px;


}

.sm {
    font-size: large;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}

.upesi {
    padding-bottom: 45px;
    background: rgb(247, 244, 244);
    border-radius: 1rem;
    padding-top: 10px;
    margin-right: 2px;

}

.Up {
    font-size: large;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}

.h4 {
    font-family: 'Adamina', serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

.header2 {
    background-color: black;
    height: 100px;
    padding-left: 100px;
    font-size: xx-large;
    padding-top: 20px;
    font-weight: 500;
}

.facebook::before {
    font-family: "font awesome 5 free";
    font-weight: 900;
    content: "\f082";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.twitter::before {
    font-family: "font awesome 5 free";
    font-weight: 900;
    content: "\"f099";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.twitter::before {
    font-family: "font awesome 5 free";
    font-weight: 900;
    content: "\f16d";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.newspaper {
    column-count: 4;
    background-color: black;
    color: #edf0f1;
    column-gap: 10px;
    padding-left: 250px;
    padding-bottom: 100px;
    margin-top: 2px;
    border-radius: 0.9rem;

}

.newspaper p {
    font-weight: bolder;
    font-size: x-large;
}

.newspaper br {
    font-weight: lighter;
}

.header2 {
    padding-top: 40px;
    padding-bottom: 100px;

}